
.main
{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    justify-content: center;
    width:300px;
    height:400px;
    border-radius:10px;
    box-shadow: 5px 5px 10px;
}
.mainheight{
    height:320px
}
.main h1{
    color: blue;

}
.inputdivs {
   
    width:250px;
    height:30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom:20px;


    }

.signin{
    display:flex;
    align-items: center;
    justify-content: center;
    color:white;
    background-color: blue;
    width:250px;
    height:30px;
    cursor: pointer;
    border: none;

    
}
.login{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:lightgrey;
    color: black; 
    width:250px;
    height:30px;
    cursor: pointer;
    border:none

   
}
.buttonmargin{
    margin-bottom: 10px;
}
.inputdivs input{
    border: none;
    outline:none;
    /*background-color:aliceblue;*/
    
}
.inputdivs p{
    color:red;
    font-size: smaller;
}
.fpassword{
    color: grey;
    text-align: center;
    margin-top:20px;
    
}
.fpassword a{
    cursor: pointer;
}

