@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
*{
    padding:0;
    margin:0
}
.bdy8{
    width:100%;
    height:100%;
    background-color: rgb(62, 26, 91);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.img8 img{
  width:100%;
  height:100%
}
.img8{
    width:200px;
    height:260px;
    /* @media screen and (max-width:320px) {
        width:270px;
        height:215px
    } */
}
.heading-content,.sub-heading8{
    color: rgb(255, 255, 255);;
    

}
 .sub-heading8{
    /*@media screen and (max-width:320px) {
        font-size:10px;
    } */
    font-size: small;
 } 
.heading-content{
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    /* @media screen and (max-width:320px) {
        font-size:75px
    }*/
} 
.content{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

