@import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    padding:0;
    margin:0
}
.bdy2{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:25px;
  width:100%;
  height:100%;
  background-image: url("/home/ongraph/Desktop/practice/app/src/components/images/paint.jpg");
  background-size: cover;
  background-position: center;
}
.bdy2 h1{
    font-size: 4rem;
    font-family: 'Fuggles', cursive;
    
}

/* @media screen and (max-width:600px) {
    .bdy2 h1{
        font-size: 8rem;        
    }   
  } */
.sub-div2{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.sub-div2 span{
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-size: x-small;
  
}
/* @media  screen and (max-width:600px) {
    .sub-div2 span{
        font-size:large ;
    } */
    
/* } */
.sub-div2-1 p{
    font-size:smaller;
    
}
/* @media screen and (max-width:600px) {
    .sub-div2-1 p{
    font-size: medium;
    }
} */