@import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    padding:0;
    margin:0
}
.bdy2{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:25px;
  width:100%;
  height:100vh;
  background-image: url("/home/ongraph/Desktop/practice/app/src/components/images/paint.jpg");
  background-size: cover;
  background-position: center;
}
.bdy2 h1{
    font-size: 12rem;
    font-family: 'Fuggles', cursive;
    @media screen and (max-width:650px) {
      font-size:5rem;   
    }
}
.sub-div1{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.sub-div1 span{
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    @media  screen and (max-width:650px) {
        font-size:small ;
    }
}
.sub-div2 p{
    font-size:larger;
    @media screen and (max-width:650px) {
        font-size: smaller;
    }
}